.article__up {
    overflow: hidden;
    
    .banner__left {
        float: left;
        width: 50%; 
        animation: slide-in-left 1s ease-in-out;

        img {
            max-width: 100%;
        }

        h2 {
            font-size: 4rem;
            color: $primary-color;
            position: absolute;
            top: 10rem;
            left: 3rem;
            text-shadow: 1px 1px 4px white; 
        }
    }

    .banner__right {
        float: left;
        width: 50%;
        animation: slide-in-right 1s ease-in-out;

        img {
            max-width: 100%;
        }

        h2 {
            font-size: 4rem;
            color: $primary-color;
            position: absolute;
            top: 10rem;
            right: 3rem;
            text-shadow: 1px 1px 4px white;                     
        }
    }
}