header { 
    position: absolute;  
    width: 100%;
    animation: slide-down 0.8s 0.3s ease;
    opacity: 0.8;
    z-index: 1000;

    .menu__logo {
        float: left;
        margin: 1rem 3rem;
        width: 60px;
        height: 60px;           

        img {
            width: 100%;
            height: 100%;
            border: 2px solid white;
            border-radius: 50%;

            &:hover {
                border: 2px solid $secondary-color;
            }
        }
    }

    .menu__wrapper {
        display: block;
        text-align: right;

        .menu__items {
            display: inline-block;
            list-style-type: none;
            margin: 1rem;  
            overflow: hidden;
            text-align: center;
    
            .menu__item {
                float: left;                                        
    
                a {
                    display: block;
                    font-size: 1.3rem;
                    color: white;            
                    text-align: center;
                    padding: 0.7rem;
    
                    &:hover:not(.active) {
                        @include hovered-item 
                    }                   
                }

                .active {
                    @include hovered-item;
                }
            }
        }
        
        .menu__icons {
            float: right;
            margin: 2rem;
            padding-right: 1rem;
            
            a {
                color: set-text-color($primary-color);
                padding: 0 0.25rem;
                font-size: 0.8rem;
    
                &:hover {
                    @include hovered-item 
                }
            }        
        }    
    }    
}
a {
    text-align: center;
}
footer {
    background: white;  

    span.button {
        display: block;
        text-align: center; 
                    

        a {            
            img {
                position: relative;
                animation: totop-btn 0.2s 1s 4; 

                &:hover {
                    color: $secondary-color;
                    transform: scale(1.1);
                }
            }
        }
    }

    .wrapper__footer {
        color: set-text-color(white);    
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #F4F1EF;

        .menu__item {
            display: inline-block;
            list-style-type: none;

            a {
                display: inline-block;
                font-size: 1rem;
                color: set-text-color(white);
                padding: 0 1rem;

                &:hover {
                    @include hovered-item 
                }
            }
        }    
    }
}
