.subheading {
    @include subheading;       
}
.content--padding {
    padding: 0 1rem;
}

.home {
    overflow: hidden;

    .subheading {
        width: 40%;
        text-transform: none;

        span {
            color: $primary-color;
            font-style: italic;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .left__img {   
        float: left;
        width: 50%;
    }

      .right__img {
        float: left;
        width: 50%;
    }
    
    img {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }
}

.about {
    overflow: hidden;  

    h4 {
        margin-bottom: 5px;
    }

    .left.column {   
        float: left;
        width: 55%;
        padding-right: 1rem;


        .aboutme .content--padding {
            margin: 2rem 2rem 7rem;
            text-align: justify;
            border-left: 5px solid grey;
        }


        .skills {    
            .content--padding {
                h4 {
                    border: none;
                }
            }

            .skill__container {
                width: 100%;
                background: white;
                box-shadow: 0 0 2px 1px grey;


                .skill {
                    font-size: 1rem;
                    padding: 0.2rem;
                    text-align: right;
                    background: 0.6;
                }
            }

            .english {
                width: 90%;
                color: set-text-color(blue);
                background: blue;
             }

            .chinese {
                width: 70%;
                color: set-text-color(yellow);
                background: yellow;
            }

            .html {
                width: 50%;
                color: set-text-color(pink);
                background: pink;
            }

            .css {
                width: 40%;
                color: set-text-color(grey);
                background: grey;
            }    
            
            .javascript {
                width: 2%;
                color: set-text-color(red);
                background: red;
            }

            .detail {
                width: 99%;
                color: set-text-color(green);
                background: green;
            }
        }
    }

    .right.column {
        float: left;
        width: 45%;
        padding-left: 1rem;

        .content--padding div {
            border-bottom: 1px dotted $secondary-color;
            padding-bottom: 1.5rem;
        }

    }
}


.portfolio {
    h2 {
        width: 75%;
    }

    .projects {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;

        .projetcts__item {
            position: relative;
            cursor: pointer; 
            background: #fff;
            padding: 0.5rem; 
            margin: 1rem 5px;
            border-radius: 1%;  
            box-shadow: 0px 0px 2px 0px black;   
            @include transition-ease; 
            

            img {
                width:100%;
                border-radius: 2%;
            }

            i {
                position: absolute;
                font-size: 1.5rem;
                margin-left: 9px;
                margin-top: -2px;
                opacity: 0;
                color: grey;
                transition: all 0.3s linear;
            }

            &:hover {
                @include hovered-box(grey)

                i {
                    opacity: 1;                    
                }
            }
        }            
    }    
}


.contact {
    h2 {
        width: 100%;
    }
    .content--padding {
        padding-left: 2rem;

        i {
            font-size: 1.5rem;
            padding: 1rem;
            color: blue;

        }

        p {
            display: inline-block;
            position: relative;
            top: -3px;
        }
    }

}