@import 'config';
@import 'menu';
@import 'home';


* {
    box-sizing: border-box; 
   /*  border: 0.5px solid red; Temporary for checking layouts*/
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $primary-color;
    background: rgba($color: grey, $alpha: 0.3);
    margin: 0;
    padding: 0;
    background: #F4F1EF;
    
}

header {
    height: 92px;
    background: $primary-color;
}

