@import 'config';
@import 'template';
@import 'responsive';
@import 'home';


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: white;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #333;
  padding: 5px 20px;
  animation: slide-down 1s ease-out;
  z-index: 1000;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

main:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  text-align: center;
  background: $footer-color;
  padding: 20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@include mobile