@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes totop-btn {
  from {
    -webkit-transform: rotate(-20deg) scale(1.2);
            transform: rotate(-20deg) scale(1.2);
  }
  to {
    -webkit-transform: rotate(20deg) scale(1.2);
            transform: rotate(20deg) scale(1.2);
  }
}

@keyframes totop-btn {
  from {
    -webkit-transform: rotate(-20deg) scale(1.2);
            transform: rotate(-20deg) scale(1.2);
  }
  to {
    -webkit-transform: rotate(20deg) scale(1.2);
            transform: rotate(20deg) scale(1.2);
  }
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header {
  position: absolute;
  width: 100%;
  -webkit-animation: slide-down 1.5s ease-in-out;
          animation: slide-down 1.5s ease-in-out;
  opacity: 0.8;
  z-index: 1000;
}

header .menu__logo {
  float: left;
  margin: 1rem 3rem;
  width: 60px;
  height: 60px;
}

header .menu__logo img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

header .menu__logo img:hover {
  border: 2px solid #ff652f;
}

header .menu__wrapper {
  display: block;
  text-align: right;
}

header .menu__wrapper .menu__items {
  display: inline-block;
  list-style-type: none;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
}

header .menu__wrapper .menu__items .menu__item {
  float: left;
}

header .menu__wrapper .menu__items .menu__item a {
  display: block;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  padding: 0.7rem;
}

header .menu__wrapper .menu__items .menu__item a:hover:not(.active) {
  opacity: 0.5;
}

header .menu__wrapper .menu__items .menu__item .active {
  opacity: 0.5;
}

header .menu__wrapper .menu__icons {
  float: right;
  margin: 2rem;
  padding-right: 1rem;
}

header .menu__wrapper .menu__icons a {
  color: #fff;
  padding: 0 0.25rem;
  font-size: 0.8rem;
}

header .menu__wrapper .menu__icons a:hover {
  opacity: 0.5;
}

a {
  text-align: center;
}

footer {
  background: white;
}

footer span.button {
  display: block;
  text-align: center;
}

footer span.button a img {
  position: relative;
  -webkit-animation: totop-btn 0.2s 1s 4;
          animation: totop-btn 0.2s 1s 4;
}

footer span.button a img:hover {
  color: #ff652f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .wrapper__footer {
  color: #000;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F4F1EF;
}

footer .wrapper__footer .menu__item {
  display: inline-block;
  list-style-type: none;
}

footer .wrapper__footer .menu__item a {
  display: inline-block;
  font-size: 1rem;
  color: #000;
  padding: 0 1rem;
}

footer .wrapper__footer .menu__item a:hover {
  opacity: 0.5;
}

main {
  overflow: hidden;
}

main .up .banner {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  margin-top: -10rem;
}

main .up .banner .banner-left {
  -webkit-animation: slide-in-left 1.5s ease-in-out;
          animation: slide-in-left 1.5s ease-in-out;
}

main .up .banner .banner-left h2 {
  font-size: 4rem;
  color: #000;
  position: absolute;
  top: 20rem;
  left: 3rem;
  text-shadow: 1px 1px 4px white;
}

main .up .banner .banner-right {
  -webkit-animation: slide-in-right 1.5s ease-in-out;
          animation: slide-in-right 1.5s ease-in-out;
}

main .up .banner .banner-right h2 {
  font-size: 4rem;
  color: #000;
  position: absolute;
  top: 20rem;
  right: 3rem;
  text-shadow: 2px 2px 8px white;
}

main .up .banner img {
  max-width: 100%;
}

main .up .banner h2 {
  font-size: 5rem;
  color: #000;
  position: absolute;
  top: 20rem;
}

main .down {
  height: auto;
  margin-top: 30rem;
  padding: 10rem 2rem;
  text-align: center;
  background: white;
}

main .down h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

main .down .latest__items {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
}

main .down .latest__items .latest__item {
  position: relative;
  cursor: pointer;
  background: #fff;
  padding: 0.5rem;
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 2px 0px black;
          box-shadow: 0px 0px 2px 0px black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .down .latest__items .latest__item img {
  width: 100%;
  border-radius: 2%;
}

main .down .latest__items .latest__item i {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 9px;
  opacity: 0;
  color: grey;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main .down .latest__items .latest__item:hover {
  -webkit-box-shadow: 0px 0px 5px 3px grey;
          box-shadow: 0px 0px 5px 3px grey;
}

main .down .latest__items .latest__item:hover i {
  opacity: 0.7;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*  border: 0.5px solid red; Temporary for checking layouts*/
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  background: rgba(128, 128, 128, 0.3);
  margin: 0;
  padding: 0;
  background: #F4F1EF;
}

header {
  height: 92px;
  background: #000;
}
/*# sourceMappingURL=main.css.map */